<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>



    <div class="container">
    <h3>Are you sure you want to delete "{{item}}"?</h3>

        <div class="row">

    <a class="btn-lg btn-warning" href="{% url 'home' %}">Cancel</a>&nbsp;

    <form method="post" action="">
     {% csrf_token %}
      {{form}}
        <input class="btn-lg btn-danger" type="submit" name="confirm" value="Delete">
    </form>
        </div>
    
    </div>





</body>
</html>