{% load static %}
<link rel=”stylesheet” href=”{% static 'website/styles.css' %}”>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>GroceryList Home</title>
</head>
<body id="body">
    <div class="container-md" id="head">
       
            <h1>Hello {{user.username}}, Welcome to your GroceryList!</h1>
        
    </div>
    <hr style="border: 10px solid blue">
    


    <div class="container">
        
            <table class="table table-sm">

                <thead class="thead-dark">
                    <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Modify</th>
                    </tr>
                </thead>

                {% for f in fruits %}
                    <tr>
                    <td style="text-transform: uppercase; font-style:italic; font-size: 18pt">{{f.name}}</td>

                    <td>{{f.quantity}}</td>
                    <td><a class="btn-sm btn-primary" href="{% url 'update_item' f.id %}">Update</a>
                    <a class ="btn-sm btn-danger" href="{% url 'delete' f.id %}">Delete</a></td>
                    </tr>
                {% endfor %}

            </table>
        
        
        <form method="post" action="/">
            {% csrf_token %}
            
            {{form}}
            <input class="btn-sm btn-success" type="submit" value="Add" name="create item">
        </form>

    </div>

</body>        
</html>